.mi-clase {
    background-color: orangered;
    width: 500px;
    height: 100px;
}
.content3{
    background-color: aquamarine;
}
.content4{
    background-color: beige;
    width: 500px;
    height: 100px;
}
.p1 {
    text-decoration: line-through;
}

.p2 {
    text-decoration: overline;
}

.p3 {
    text-decoration: underline;

}
.alineacion{
    text-align: justify;
}

.up {
    text-transform: uppercase;
}

.down {
    text-transform: lowercase;
}
.cap{
    text-transform: capitalize;
}
.indentar{
    border: greenyellow solid 3px;
    text-indent: 30px;
    letter-spacing: 5px;
    line-height: 1.5;
    /* text-shadow: 2px 2px 5px red; */
    text-shadow: 5px 5px #558abb;
}