/* archivo 01_style.css */
h1 {
    color: blue
}

body {
    background-image: url('../assets/pngtree-faceted-abstract-background.webp');
    background-repeat: repeat-y;
}

.pa1 {
    color: rgb(255, 255, 0);

}

.pa2 {
    color: #ff0000;

}

.pa3 {
    color: green;

}