/* archivo style.css */
div {

    border-left: 50px solid;
}

h1 {
    color: blue;
    text-decoration: underline;
    background-color: orange;
    text-align: center;
    letter-spacing: 3px;

}

p {
    color: black;
    letter-spacing: -3px;
    text-indent: 75px;
    
}