.content{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
  
}
.center{
   right: 50%;
  top: 50%;
position: absolute;
}
.corner{
    top: 100%;
      right: 0;
      position: absolute;  
}